/* this is your site, i am just giving you this blank file
nevermind */
img
{
  width: 200px;
  display: block;
}
/*
#id
{
  stuff
}

.class
{
  stuff
}
*/
.red
{
 color: red; 
}

.yellow
{
 color: yellow;
}

.blue
{
 color: blue;
}

.tomato
{
  color: tomato;
}

.aaaa
{
 color: #336699; 
}

.green
{
 color: green; 
}
